@page
@model IndexModel
@{
    ViewData["Title"] = "Service Uptime";
}

<div class="text-center">
    <h1 class="display-4">Service Uptime</h1>
    <table>
        @for (int i = 0; i < Math.Ceiling((double)9 / 2); i++)
        {
            <tr>
                @for (int j = 0; j < 2; j++)
                {
                    <td>Generic</td>
                }
            </tr>
        }
    </table>
</div>
